<footer>
    <div class="ps-3 p-2 text-center">
        <p class="fw-bold m-0">Otros lugares en los que puedes encontrarme</p>
    </div>

    <div class="d-flex flex-row w-100 justify-content-center">
        <a href="https://github.com/oquendoG" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-github-square"></i>
        </a>

        <a href="https://www.linkedin.com/in/wilson-andr%C3%A9s-oquendo-guti%C3%A9rrez-469a55156/" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</footer>