@page "/contact" 
<Navbar></Navbar>

<main class="container min-vh-90 py-md-5">
    <div class="row p-4 mt-md-5 shadow-no-hover">
        <div class="col">
            <h1 class="mb-3">Contáctame</h1>
            <p class="mb-3">
                Si tienes alguna duda o inquietud no dudes en escribirme a: 
            </p>
            <a href="mailto:oquendo999@gmail.com" class="h6 text-primary">oquendo999@gmail.com</a>
        </div>
    </div>
</main>
@code {

}
