@page "/"

<main class="d-flex flex-column w-100 min-vh-90 justify-content-center
            align-items-center overflow-auto bg-motherboard-dev">
    <div class="container g-0">
        <div class="row g-0">
            <div class="col-lg-6"></div>
            <section class="col-lg-6 d-inline-flex flex-column bg-white-94 p-5 shadow-no-hover">
                <h1 class="d-inline-flex">Bienvenido a mi portafolio</h1>
                <p>Soy desarrollador de software especializado en las tecnologías de .NET como ASP.NET MVC, Blazor, Web Api, Entity framework e Identity.</p>
                <p>Me gusta resolver problemas diseñando soluciones escalables y con arquitecturas adecuadas para el sistema de información requerido.</p>
                <a href="/portfolio" class="btn btn-primary shadow
                        btn-lg mt-3 md-f-size-1-5">
                    <i class="fas fa-project-diagram"></i> Projects
                </a>
                <a href="/portfolio" class="btn btn-secondary shadow
                        btn-lg mt-3 md-f-size-1-5">
                    <i class="fas fa-info-circle"></i> Más información
                </a>
            </section>
        </div>
    </div>
</main>
